.dropzone{
	height: auto;
	min-height: 200px;
	width:100%;
	background: #FFF;
	padding: 10px
}
.dropzone-wrap{
	border: 5px dotted #ccc;
	padding:25px 20px 20px 20px ;
}
.dropzone .drop-box{
	height: 100px;
	text-align: center;
}


.fd {
	padding: 10px;
	margin-bottom: 10px;
	background:#efefef;
}

.img-container{
	width:500px;
	height:300px;
}
.img-container img{
	width:100%;
	height:100%;
}